.venv/
__pycache__/
*.pyc
*.pyo
*.log
# Ignore all .env files except .env.example
.env*
!.env.example
# Explicitly ignore these specific .env files
.env (Live)
.env (Test)
characters_repo/
tf_state.json
tf_stats.json
transform_replies.json
vn_cache/
tf_outfits.json
tf_backgrounds.json
tf_history_snapshot.json
tfbot_gacha.sqlite3
tfbot_gacha_old.sqlite3
tf_reroll.json
